.listContainer {
    border: 1px solid white;
    flex: .6;
    overflow-y: auto;
    /* scrollbar-width: 100px   ; */
}

.todoCard {
    border: 1px solid white;
    padding: 4px;
    margin-bottom: 4px;
}

.descriptionContainer {
    padding: 5px;
    min-height: 80px;
    border: 1px solid black;
    position: relative;
}
.timeContainer {
    padding: 5px;
}
.editDelContainer {
position: absolute;
right: 5px;
top: 5px;
width: 40px;
justify-content: space-between;
display: flex;
}

