.listContainer {
    border: 1px solid white;
    flex: .6;
}

.todoCard {
    border: 1px solid white;
    padding: 4px;
}

.descriptionContainer {
    padding: 5px;
    min-height: 80px;
    border: 1px solid black;
}
.timeContainer {
    padding: 5px;
}